
table{
    width:98%;
    margin:8px;
    border:1px solid blue;
}

th{
    background-color: blueviolet;
    color: chartreuse;
}

tr,td{
    border:1px solid blue;
}

tr:nth-child(even){
    background-color: darkcyan;
}

